// colours
$blue: #3498db;
$red: #e74c3c;
$green: #2ecc71;
$turquoise: #1abc9c;

$grey-dark: #34495e;
$grey-light: #ecf0f1;

$white: #fff;

// type
$type-body-font: "Roboto", sans-serif;
$type-body-size: 32px;
