* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a { color: inherit; }

strong {
    font-weight: bold;
}

.progress {
    display: block;
    width: 100%;
    @include position(fixed, auto 0 0 0);
}

.progress-bar {
    width: 0;
    background: $green;
}

.progress,
.progress-bar {
    height: 5px;
}

.container {
    height: 100%;
    width: 100%;
}

.slide {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    color: $white;
}

.slide-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1.5em;
}

.slide-content ul {
    text-align: left;
    list-style: none;
    max-width: 80%;
}

.slide-content li {
    margin: rhythm(2) 0;
}

// .slide-content q {
//     font-style: italic;
//     font-family: Georgia;
// }

// .slide-content q strong {
//     font-weight: normal;
//     border-bottom: 1px solid $white;
// }

.slide-title {
    @include position(absolute, rhythm(2) auto auto rhythm(4));
}

.slide--blue { background-color: $blue; }
.slide--red { background-color: $red; }
.slide--green { background-color: $green; }
.slide--turquoise { background-color: $turquoise; }
.slide--grey { background-color: $grey-dark; }

.slide--img {
    background-size: cover;
    background-position: center center;
}

.workflow {
    position: relative;
    padding: 1rem;
    border: 2px solid $white;
    text-align: center;
}

.workflow .fa-long-arrow-right {
    position: absolute;
    right: -1.35rem;
    line-height: 1.5;
}

.workflow .fa-long-arrow-left {
    position: absolute;
    left: -1.35rem;
    line-height: 1.5;
}

.workflow.build .fa-long-arrow-up {
    position: absolute;
    top: -1.35rem;
    right: 1.35rem;
}

.workflow.validate .fa-long-arrow-down {
    position: absolute;
    bottom: -1.35rem;
    right: .35rem;
}

.sep {
    border-right: 2px dashed $grey-light;
}
